* { 
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul {
	list-style: none;
}

body {
	background: #0a192f;
	height: 500vh;
	width: 100vw;
	font-family: monospace;
}

div {
	height: 100vh;
	width: 100vw;
}

#cover {

}

#logo {

	height: auto;
	width: 42vw;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-52%, -58%);
	opacity: 50%;
	stroke-dasharray: 500;
	stroke-dashoffset: 500;
	animation: logo-anim 15s linear infinite;
}

#logo2 {
	height: auto;
	width: 42vw;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-52%, -58%);
	opacity: 50%;
	stroke-dasharray: 500;
	stroke-dashoffset: 500;
	animation: logos-anim 15s linear infinite;
}

#about-me-container {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	width: 95vw;
	height: 80vh;
}

#bio {
	width: 45%;
	min-width: 300px;
	height: auto;
}

#profile-pic {

	overflow: hidden;
	width: 53%;
	min-width: 400px;
	height: auto;
}

.slideright{
  opacity: 0;
	transform: translateX(-34vw);
	transition: all 3.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.slideright.slideinright{
  opacity: 1;
	transform: translateX(0);
}

#skills {
	font-family: "Helvetica";
	color: black;
}

.container {
	background-image: url("monitor-background.svg");
	background-size: contain;
	background-position: center top;
	background-repeat: no-repeat;
	position: relative;
	top:10%;
	left: 50%;
	width: 83vw;
	height: 31.3140948vw;
	transform: translate(-50%, -10%);
}

.button-grp {
	position: relative;
	top: 15%;
	height: 10%;
	width: 90%;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	justify-content: space-around;
	z-index: 1;
}

.button-grp button {
	position: relative;
	padding: 10px 30px;
	margin: 20px 10px;
	border-radius: 5px;
	background: #172a45;
	color: #fff;
	font-size: 20px;
	font-family: monospace;
	box-shadow: 0px 5px 10px rgba(0,0,0,0.5);
	outline: none;
	border-color: transparent;
}

.button-grp button:hover {
	background: #ff0057;
}

.button-grp button:hover:before {
	transform-origin: left;
	transform: scaleX(1);
}

.button-grp button:before {
	content: '';
	position: absolute;
	top: 8px;
	left: 8px;
	width: 100%;
	height: 100%;
	border-radius: 5px;
	background: #fff;
	z-index: -1;
	transition: transform 0.5s ease-in-out;
	transform-origin: right;
	transform: scaleX(0);
}

.button-grp button:after {
	content: '';
	position: absolute;
	top: 8px;
	left: 8px;
	width: 100%;
	height: 100%;
	border-radius: 5px;
	box-sizing: border-box;
	border: 1px solid #fff;
	z-index: -1;
	transition: 0.5s;
	transition-delay: 0.5s;
}

.button-grp button:hover:after {
	top: -8px;
	left: -8px;
}

.txt-type > .txt {
  border-right: 0.2rem solid #777;
}

#list-skills {
	position: relative;
	background-image: url("searchbar.svg");
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
	font-weight: 100;
	font-size: 2.7vw;
	padding-top: 7px;
	padding-bottom: 15px;
	width: 80%;
	top: 50%;
	left: 8%;
	justify-content: center;
	text-align: center;
}

.C-modal {
	display: none;
	position: fixed;
	width: 96%;
	height: 100%;
	top: -0.5%;
	left: 1.3%;
	background-image: url("CSS-skill.svg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	color: #64ffda;
	font-family: monospace;
	animation: modalopen 1s;
	z-index: 1;
}

.C-modal1 {
	background-image: url("Java-skill.svg");
}

.C-modal2 {
	background-image: url("HTML-skill.svg");
}

.C-modal3 {
	background-image: url("Swift-skill.svg");
}

.C-modal4 {
	background-image: url("Public-skill.svg");
}

.closeBtn {
	color: #fff;
	position: relative;
	top: 5.5%;
	left: 21%;
	font-size: 3vw;
}

.closeBtn2 {
	left: 26.4%;
}

.closeBtn3 {
	left: 33%;
}

.closeBtn4 {
	left: 34%;
}

.closeBtn:hover,
.closeBtn:focus {
	color: #64ffda;
	text-decoration: none;
	cursor: pointer;
}

.skill-paragraph {
	color: #fff;
	font-size: 1.7vw;
	padding-top: 3.7%;
}

@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#projects {

}

#console {
	position: relative;
	width: 200px;
	height: auto;
	padding-top: 5%;
	padding-bottom: 10%;
}

#heart {
	position: relative;
	width: 200px;
	height: auto;
	padding-top: 5%;
	padding-bottom: 10%;
}

#data {
	position: relative;
	width: 200px;
	height: auto;
	padding-top: 5%;	
	padding-bottom: 10%;
}

.card-container {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -40%);
	width: 1100px;
	position: relative;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}

.card-container .card {
	width: 300px;
	height: 600px;
}

.card-container .card .face {
	position: relative;
	width: 300px;
	height: 300px;
	transition: 0.5s;
}

.card-container .card .face.face1 {
	position: relative;
	background: #172a45;
	display: flex;
	text-align: center;
	z-index: 1;
	transform: translateY(150px);
}

.card-container .card:hover .face.face1 {
	background: #ff0057;
	transform: translateY(0);
}

.card-container .card .face.face1 .content {
	opacity: 0.2;
	transition: 0.5s;
}

.card-container .card:hover .face.face1 .content {
	opacity: 1;
}

.card-container .card .face.face1 .content h3 {
	margin: 10px 0 0;
	padding: 0;
	color: #fff;
	font-size: 20px;
}

.card-container .card .face.face2 {
	position: relative;
	background: #fff;
	display: flex;
	padding: 20px;
	box-sizing: border-box;
	box-shadow: 0px 20px 50px rgba(0,0,0,0.8);
	transform: translateY(-150px);
	transition-property: transform, z-index;
	transition-delay: 0s, -0.5s;
	z-index: 0;
}

.card-container .card:hover .face.face2 {
	transform: translate(0px);
	transition-property: transform, z-index;
	transition-delay: 0s, 0.5s;
	z-index: 1;
}

@keyframes zchange {
	from {
		z-index: 2;
	} to {
		z-index: 3;
	}
}

.card-container .card .face.face2 .content p {
	margin: 0;
	padding: 0;
}

.card-container .card .face.face2 .content a {
	margin: 15px 0 0;
	display: inline-block;
	text-decoration: none;
	font-weight: 900;
	color: #333;
	padding: 5px;
	border: 1px solid #333; 
}

.card-container .card .face.face2 .content a:hover {
	background: #333;
	color: #fff;
}

#contact {

}

.socials {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	width: 90%;
	height: 20%;
	align-content: center;
	justify-content: center;
}

.socials li {
	list-style: none;
	margin: 20px 40px;
}

.socials li a .fa {
	font-size: 55px;
	color: #333f58;
	line-height: 80px;
	transition: 0.5s;
}

.socials li:hover .fa {
	color: #fff;
}

.socials li:nth-child(4):hover .fa {
	color: #000;
}

.socials li:nth-child(5):hover .fa {
	color: #D44638;
}

.socials li:nth-child(5) .fa {
	font-weight: 1000;
	font-size: 50px;
}

.socials li a {
	position: relative;
	display: block;
	width: 80px;
	height: 80px;
	background: #a8b2d1;
	text-align: center;
	transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(0,0);
	transition: 0.5s;
	box-shadow: -20px 20px 10px rgba(0,0,0,0.8);

}

.socials li a:before {
	content: '';
	position: absolute;
	top: 10px;
	left: -20px;
	height: 100%;
	width: 20px;
	background: #333f58;
	transition: 0.5s;
	transform: rotate(0deg) skewY(-45deg);
}

.socials li a:after {
	content: '';
	position: absolute;
	bottom: -20px;
	left: -10px;
	height: 20px;
	width: 100%;
	background: #333f58;
	transition: 0.5s;
	transform: rotate(0deg) skewX(-45deg);
}

.socials li a:hover {
	transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(20px, -20px);
	box-shadow: -50px 50px 50px rgba(0,0,0,0.8);
}

.socials li:hover:nth-child(1) a {
	background: #3b5999;
}

.socials li:hover:nth-child(1) a:before {
	background: #2e4a86;
}

.socials li:hover:nth-child(1) a:after {
	background: #4a69ad;
}

.socials li:hover:nth-child(2) a {
	background: #0077b5;
}

.socials li:hover:nth-child(2) a:before {
	background: #036aa0;
}

.socials li:hover:nth-child(2) a:after {
	background: #0d82bf;
}

.socials li:hover:nth-child(3) a {
	background: #f09433; 
	background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
	background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
	background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}

.socials li:hover:nth-child(3) a:before {
	background: #f09433; 
	background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
	background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
	background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}

.socials li:hover:nth-child(3) a:after {
	background: #f09433; 
	background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
	background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
	background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
} 

.socials li:hover:nth-child(4) a {
	background: #eee;
}

.socials li:hover:nth-child(4) a:before {
	background: #ddd;
}

.socials li:hover:nth-child(4) a:after {
	background: #fff;
}

.socials li:hover:nth-child(5) a {
	background: #eee;
}

.socials li:hover:nth-child(5) a:before {
	background: #ddd;
}

.socials li:hover:nth-child(5) a:after {
	background: #fff;
}

.footer {
	position: relative;
	width: 100vw;
	height: 10vh;
	top: 70%;
	text-align: center;
	justify-content: center;
	font-family: monospace;
	background color: #333f58;
	color: #64ffda;
	font-size: 1.3vw;
}

#text_contain {
	width: 100%;
	height: 100%;
	position: relative;
	text-align: center;
	vertical-align: middle;
	background-color: #333f58;
}

#text {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

svg {
	padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    padding-bottom: 1px;
}

#first-name {
	position: absolute;
	width: 40vw;
	height: auto;
	top: 50%;
	left: 50%;
	transform: translate(-35%, -50%);
	stroke-dasharray: 700;
	stroke-dashoffset: 700;
	animation: first-anim 15s linear infinite;
}

#last-name {
	position: absolute;
	width: 40vw;
	height: auto;
	top: 50%;
	left: 50%;
	transform: translate(-35%, -50%);
	stroke-dasharray: 700;
	stroke-dashoffset: 700;
	animation: last-anim 15s linear infinite;
}

@keyframes last-anim {
	from {
		stroke-dashoffset: 700;
		fill: transparent;
	}
	50% {
		stroke-dashoffset: 700;
		fill: transparent;
	}
	60% {
		stroke-dashoffset: 0;
		fill: transparent;
	}
	70% {
		fill: #64ffda;
	}
	80% {
		stroke-dashoffset: 0;
		fill: #64ffda;
	}
	90% {
		fill: transparent;
		stroke-dashoffset: 0;
	}
	100% {
		stroke-dashoffset: 700;
		fill: transparent;
	}
}

@keyframes first-anim {
	from {
		stroke-dashoffset: 700;
		fill: transparent;
	}
	10% {
		stroke-dashoffset: 0;
		fill: transparent;
	}
	20% {
		fill: #64ffda;
	}
	30% {
		stroke-dashoffset: 0;
		fill: #64ffda;
	}
	40% {
		fill: transparent;
		stroke-dashoffset: 0;
	}
	50% {
		stroke-dashoffset: 700;
		fill: transparent;
	}
	100% {
		stroke-dashoffset: 700;
		fill: transparent;
	}
}

@keyframes logo-anim {
	from {
		stroke-dashoffset: 700;
	} 
	25% {
		stroke-dashoffset: 0;
	}
	50% {
		stroke-dashoffset: 700;
	}
	100% {
		stroke-dashoffset: 700;
	}
}

@keyframes logos-anim {
	from {
		stroke-dashoffset: 700;
	} 
	50% {
		stroke-dashoffset: 700;
	}
	75% {
		stroke-dashoffset: 0;
	}
	100% {
		stroke-dashoffset: 700;
	}
}

.navmenu {
	position: fixed;
	top: 50%;
	opacity: 50%;
	transform: translateY(-50%);
	z-index: 100;
}

.navmenu:hover {
	opacity:100%;
}

.navmenu ul {
	padding-left: 8px;
	position: relative;
}

.navmenu ul li {
	padding: 30px 0;
	padding-left: 20px;
}

@keyframes animated-text{
  from{width: 0px;}
  to{width: 100%;}
}

/* cursor animations */

@keyframes animated-cursor{
  from{border-right-color: rgb(255,165,0);}
  to{border-right-color: transparent;}
}

.navmenu:hover ul li:nth-child(1) a:before {
	animation: animated-text 0.5s steps(3,end) 0s 1 normal both,
             animated-cursor 600ms steps(5,end) infinite;

    color: white;
}

.navmenu:hover ul li:nth-child(2) a:before {
	animation: animated-text 1.25s steps(8,end) 0s 1 normal both,
             animated-cursor 600ms steps(5,end) infinite;

    color: white;
}

.navmenu:hover ul li:nth-child(3) a:before {
	animation: animated-text 1s steps(6,end) 0s 1 normal both,
             animated-cursor 600ms steps(5,end) infinite;

    color: white;
}

.navmenu:hover ul li:nth-child(4) a:before {
	animation: animated-text 1.25s steps(8,end) 0s 1 normal both,
             animated-cursor 600ms steps(5,end) infinite;

    color: white;
}

.navmenu:hover ul li:nth-child(5) a:before {
	animation: animated-text 1.15s steps(7,end) 0s 1 normal both,
             animated-cursor 600ms steps(5,end) infinite;

    color: white;
}

.navmenu ul li a {
	text-decoration: none;
	position: relative;
	color: transparent;
	font-size: 1.5rem;
	line-height: 1rem;
	font-weight: 500;
}

.navmenu ul li a::before {
	font-size: 1.5rem;
	content: attr(data-text);
	position: absolute;
	background-color: #0a192f;
	width: 17px;
	height: 20.9px;
	top: 50%;
	transform: translateY(-50%);
	border-radius: 8px;
	border: 4px solid rgba(100, 255, 218, 0.65);
	transition: background 250ms;
	white-space: nowrap;
	overflow: hidden;
	transition: 0.1s ease-in-out;
}

.navmenu:hover ul li a.active:before {
	color: beige;
}

.navmenu ul li a.active {
	font-weight: 700;
}

.navmenu ul li a.active::before {
	background: #008080;
}

@font-face {
	font-family: Spud;
	src: url(Spud-Regular.otf);
}

