* { 
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul {
	list-style: none;
}

body {
	background-color: rgb(32, 35, 48);
	height: 100vh;
	font-family: monospace;
}

svg {
	padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    padding-bottom: 1px;
}

#first-name {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-35%, -50%);
	stroke-dasharray: 500;
	stroke-dashoffset: 500;
	animation: first-anim 15s linear infinite;
}

#last-name {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-35%, -50%);
	stroke-dasharray: 500;
	stroke-dashoffset: 500;
	animation: last-anim 15s linear infinite;
}

@keyframes last-anim {
	from {
		stroke-dashoffset: 500;
		fill: transparent;
	}
	50% {
		stroke-dashoffset: 500;
		fill: transparent;
	}
	60% {
		stroke-dashoffset: 0;
		fill: transparent;
	}
	70% {
		fill: white;
	}
	80% {
		stroke-dashoffset: 0;
		fill: white;
	}
	90% {
		fill: transparent;
		stroke-dashoffset: 0;
	}
	100% {
		stroke-dashoffset: 500;
		fill: transparent;
	}
}

@keyframes first-anim {
	from {
		stroke-dashoffset: 500;
		fill: transparent;
	}
	10% {
		stroke-dashoffset: 0;
		fill: transparent;
	}
	20% {
		fill: white;
	}
	30% {
		stroke-dashoffset: 0;
		fill: white;
	}
	40% {
		fill: transparent;
		stroke-dashoffset: 0;
	}
	50% {
		stroke-dashoffset: 500;
		fill: transparent;
	}
	100% {
		stroke-dashoffset: 500;
		fill: transparent;
	}
}

.navmenu {
	position: absolute;
	top: 50%;
	opacity: 50%;
	transform: translateY(-50%);
}

.navmenu:hover {
	opacity:100%;
}

.navmenu ul {
	padding-left: 8px;
	position: relative;
}

.navmenu ul li {
	padding: 30px 0;
	padding-left: 20px;
}

@keyframes animated-text{
  from{width: 0px;}
  to{width: 100%;}
}

/* cursor animations */

@keyframes animated-cursor{
  from{border-right-color: rgb(255,165,0);}
  to{border-right-color: transparent;}
}

.navmenu ul:hover li a:before {
	animation: animated-text 1.25s steps(10,end) 0s 1 normal both,
             animated-cursor 600ms steps(5,end) infinite;

    color: white;
}

.navmenu ul li a {
	text-decoration: none;
	position: relative;
	color: transparent;
	font-size: 1.5rem;
	line-height: 1rem;
	font-weight: 500;
}

.navmenu ul li a::before {
	font-size: 1.5rem;
	content: attr(data-text);
	position: absolute;
	background-color: rgb(32, 35, 48);
	width: 17px;
	height: 20.9px;
	top: 50%;
	transform: translateY(-50%);
	border-radius: 10px;
	border: 4px solid #008080;
	transition: background 250ms;
	white-space: nowrap;
	overflow: hidden;
	transition: 0.1s ease-in-out;
}

.navmenu ul:hover li a.active:before {
	color: beige;
}

.navmenu ul li a.active {
	font-weight: 700;
}

.navmenu ul li a.active::before {
	background: #008080;
}

